<div class="hcis-header-component">
    <div class="title-text-holder">
        <div class="top-accent">
            <!-- TODO convert from png to SVG, but find an elegant way to do it -->
            <img src="/assets/text-header-top-accent.png" alt="">
        </div>
        <span class="title-header-text">{{ title }}</span>
    </div>

    <div class="underline-accent"> </div>
    <img class="header-underline-accent-image" [src]="browserIsDesktop() ? '/assets/header-title-underline-accent.svg' : '/assets/header-title-underline-accent-mobile.svg'"  alt="">
</div>
