.class-reading
    cursor: pointer

#search-value
    display: block
    margin: 10px

#search-select-row
    display: flex
    justify-content: center

#search-select-row mat-form-field
    padding: 5px
