<div>
  <div class="calendar-panel">
    <div id="calendar-panel-header">
      <header class="mat-display-2">CALENDAR</header>
      <div class="underline"></div>
      <div id="calendar-date" *ngIf="pageData != null">{{ pageData.date }}</div>
    </div>

    <img
      id="calendar-panel-logo"
      src="/zach/assets/honors-logo.png"
      alt="Honors Logo"
    />
    <img
      id="calendar-panel-accent"
      src="/zach/assets/announcements-panel-accent.png"
      alt="Calendar Panel Accent"
    />

    <img
      id="top-left-accent-image"
      src="/zach/assets/top-left-announcements-panel-accent-mobile.png"
      alt="Accent"
    />
    <img
      id="bottom-right-accent-image"
      src="/zach/assets/bottom-right-announcements-panel-accent-mobile.png"
      alt="Accent"
    />
  </div>

  <div class="main-content" *ngIf="pageData != null">
    <div class="calendar-section" *ngFor="let section of pageData.sections">
      <app-hcis-header
        class="section-title"
        [title]="section.name"
      ></app-hcis-header>

      <ul>
        <li class="announcement-item" *ngFor="let item of section.list">
          <div class="name">
            <div class="accent"></div>
            <span>{{ item.name }}</span>
          </div>
          <div class="date">{{ item.date }}</div>
          <div class="location">{{ item.location }}</div>
          <p class="text">{{ item.text }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
