.announcements-panel
    width: 100%
    height: 366px
    background-color: #097655
    position: relative
    overflow: hidden


#home-panel-header
    position: absolute
    top: 100px
    left: 100px

#home-panel-header header
    color: white
    font-weight: bold
    margin-bottom: 0px

#home-panel-header .underline
    background-color: white
    width: 200px
    height: 8px
    position: relative
    bottom: -13px
    left: 15px

#announcements-panel-accent
    position: absolute
    bottom: -230px
    left: -10px

#announcements-panel-logo
    position: absolute
    top: 35px
    right: 30px
    z-index: 3
