<div>
    <div class="announcements-panel">
        <div id="home-panel-header">
            <header class="mat-display-2">ANNOUNCMENTS</header>
            <div class="underline"></div>
        </div>
    
        <img id="announcements-panel-logo" src="../../assets/honors-logo.png" alt="Honors Logo">
        <img id="announcements-panel-accent" src="../../assets/announcements-panel-accent.png"
            alt="Announcements Panel Accent">
    </div>

    <div class="main-content">
        <div>{{ pageData.head }}</div>
        <div>{{ pageData.date }}</div>
    
        <div *ngFor="let section of pageData.sections">
            <app-hcis-header [title]="section.name"></app-hcis-header>

            <ul>
                <li *ngFor="let item of section.list">
                    <span>{{ item.date }}</span>
                    <span>{{ item.location }}</span>
                    <p>{{ item.text }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
