<app-hcis-toolbar></app-hcis-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>HOME PAGE</mat-drawer>
    <mat-drawer-content>
        <div class="announcements-panel">
            <div id="home-panel-header">
                <header class="mat-display-2">ANNOUNCMENTS</header>
                <div class="underline"></div>
            </div>

            <img id="announcements-panel-logo" src="../../assets/honors-logo.png" alt="Honors Logo">
            <img id="announcements-panel-accent" src="../../assets/announcements-panel-accent.png"
                alt="Announcements Panel Accent">
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<app-hcis-footer></app-hcis-footer>