.side-nav
    width: 250px

.navigation-page-option
    display: flex
    align-items: center

.navigation-page-option > *
    padding: 0 .25em

#hcis-app
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: #097655

.login-page
  display: flex
  justify-content: center
  align-items: center

#main-content
  flex: 1
