<!-- <form>
    <mat-form-field id="search-value" appearance="fill">
        <mat-label>Search Readings...</mat-label>
        <input matInput type="text" name="searchValue" [(ngModel)]="searchValue"
            (ngModelChange)="updateFilteredReadings()">
        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</form>

<mat-list role="list">
    <mat-list-item *ngFor="let reading of filteredReadings" role="listitem" (click)="openReading(reading)"
        class="class-reading">
        <mat-icon mat-list-icon>folder</mat-icon>
        <p mat-line>{{ reading.title }}</p>
        <p mat-line> {{ reading.author }} </p>
        <p mat-line> {{ reading.professor }} </p>
        <p mat-line> {{ reading.class }} </p>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list> -->
