.personal-data-subheading
    font-size: 28px
    font-weight: bold

.personal-data-input-label
    font-size: 24px

.equal-parted-input-group
    width: 100%
    display: flex

.equal-parted-input-group > *
    flex: 1 1 0px

.input-group
    display: flex
    flex-direction: column

#local-address-row-1
    display: flex

#local-address-row-1 .row-1-col:nth-child(1)
    flex: 2

#local-address-row-1 .row-1-col:nth-child(2)
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between

#local-address-row-2
    display: flex
    justify-content: space-between

#local-address-row-2 > div
    flex-grow: 1

#local-address-po-box-and-room-no-input-group
    display: flex
    flex-direction: row

#local-address-po-box-and-room-no-input-group > div
    flex-grow: 1